<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout :: head">
    <title id="pageTitle">Dodawanie kursu</title>
</head>
<body class="pb-4">
<nav th:insert="fragments/layout :: nav"></nav>
<div class="container pt-4">
    <h2>Nowy kurs</h2>
    <form method="post" th:action="@{/courses/add}" th:object="${course}">
        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
            <ul>
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="mb-3" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <label class="form-label" for="language_id">Język</label>
            <select class="form-control" id="language_id" name="language_id" th:classappend="${#fields.hasErrors('language')} ? 'is-invalid'">
                <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
            </select>
        </div>
        <div class="mb-3" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <label class="form-label" for="teacher_id">Prowadzący</label>
            <select class="form-control" id="teacher_id" name="teacher_id" th:classappend="${#fields.hasErrors('teacher')} ? 'is-invalid'">
                <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.firstName+' '+teacher.lastName}"></option>
            </select>
        </div>
        <input sec:authorize="!hasAuthority('ROLE_ADMIN')" type="hidden" name="language_id" th:value="${#authentication.principal.user.language.id}">
        <input sec:authorize="!hasAuthority('ROLE_ADMIN')" type="hidden" name="teacher_id" th:value="${#authentication.principal.user.id}">
        <div class="mb-3">
            <label class="form-label" th:field="*{name}">Nazwa</label>
            <input class="form-control" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'">
        </div>
        <div class="mb-3">
            <label class="form-label" th:field="*{hours}">Ilość godzin</label>
            <input class="form-control" th:field="*{hours}" type="number" min="0" step="1" th:classappend="${#fields.hasErrors('hours')} ? 'is-invalid'">
        </div>
        <div class="mb-3">
            <label class="form-label" th:field="*{description}">Opis</label>
            <textarea class="form-control" th:field="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" th:field="*{price}">Cena</label>
            <input class="form-control" th:field="*{price}" type="number" min="0" step="0.01" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'"> zł
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Dodaj">
    </form>
</div>
<footer th:insert="fragments/layout :: foot"></footer>
</body>
</html>