<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: head">
  <title id="pageTitle">Zmiana hasła</title>
</head>
<body class="pb-4">
<nav th:insert="fragments/layout :: nav"></nav>
<div class="container pt-2">
  <h2>Zmień hasło</h2>
  <form method="post" th:action="@{/user/changePassword}">
    <div th:if="${errmsg != null}" class="alert">
      <p th:text="${errmsg}"></p>
    </div>
    <label class="form-label">
      Stare hasło:
      <input class="form-control" type="password" name="oldPassword">
    </label>
    <label class="form-label">
      Nowe hasło:
      <input class="form-control" type="password" name="newPassword">
    </label>
    <input type="submit" class="btn btn-outline-primary" value="Zmień hasło">
  </form>
</div>
<footer th:insert="fragments/layout :: foot"></footer>
</body>
</html>